body{
font-family:'Segoe UI',sans-serif;
margin:0;
text-align:center;
color:#333;
background:#d0298d;
background-size:400% 400%;
} 

header{
background:rgba(0,0,0,0.4);
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
margin-top:80px;
color:rgb(35, 4, 85);
background:white;
width:550px;
margin:20px auto;
border-radius:15px;
}

.btn{
background:#ff7a18;
padding:12px 25px;
border-radius:25px;
color:white;
text-decoration:none;
font-size:18px;
}

.card{
background:white;
width:420px;
margin:40px auto;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

input,select{
width:80%;
padding:10px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
background:#667eea;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#6a1ce7a4;
}

ul{
list-style:none;
padding:0;
}

li{
background:#f0f4ff;
margin:10px;
padding:10px;
border-radius:8px;
}

.progress-container{
width:80%;
height:20px;
background:#ddd;
margin:20px auto;
border-radius:10px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#4caf50;
}

.dark{
background:#1e1e2f;
color:white;
}

.dark header{
background:#111;
}

.dark .card{
background:#2b2b3d;
color:white;
}

.edit-btn{
background:#3244ba;
margin-left:10px;
display:inline-block;
}

.edit-btn:hover{
background:#2f855a;
opacity:0.9;
transform:scale(1.05);
transition:0.2s;
}

.delete-btn{
background:#e53e3e;
margin-left:5px;
display:inline-block;
}

.delete-btn:hover{
background:#189dc9;
opacity:0.9;
transform:scale(1.05);
transition:0.2s;
}

